<div class="row" style="margin-bottom:15px;">
    <div class="col-md-3">


</div>

<div class="container-fluid">
      
    <div class="container text-center">
        <div class="col-md-11">
          <ul class="">
            <h2>Upload je cursussen</h2>
            <input class="form-control" type="file" #file placeholder="Selecteer een cursus" (click)="hideMessages()">
            <button type="button" class="btn btn-outline-primary" (click)="uploadFile(file.files)">Upload een bestand</button>
            <p class="text-success" *ngIf="showMessage">Er zijn in totaal: {{fileUploadMessage.amountOfCoursesImported}} cursussen toegevoegd en {{fileUploadMessage.amountOfCourseInstancesImported}} edities toegevoegd</p>
            <p class="text-danger" *ngIf="showMessage">Er zijn in totaal: {{fileUploadMessage.amountOfDuplicateCourses}} duplicaten in cursussen gevonden en {{fileUploadMessage.amountOfDuplicateCourseInstances}} duplicaten in instanties gevonden</p>
            <p class="text-danger" *ngIf="showErrorMessage">{{fileUploadMessage.errorMessage}}</p>
          </ul>
        </div>
      </div>
    </div>
</div>